Titel {font-size: large; font-weight: bold}
nText{font-size: medium}
fText{font-size: medium; font-weight: bold}
kText{font-size: medium; font-style: italic}
Absatz1{display: block;}
Absatz2{display: block;}
