h1{
    text-align: center; font-size: 200%; background-color: aliceblue;
}
h2{
    text-allign:center; font-size: 150%; font-family: "DejaVu Sans";
    color: darkblue;
}
.wrapout{
    display: flex;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 2px;
}
.box{
    background-color: cornsilk;
    word-wrap: break-word;
    width: 32%;
    min-width: 200px;
    margin: 2px;

}

.boxa{
    background-color: aliceblue;
    width: 20%;
    margin: 2px;
    word-wrap: break-word;
}

.boxb{
    background-color: aliceblue;
    width: 15%;
    margin: 2px;
    word-wrap: break-word;
}
p{
    font-size: 120%;
    font-family: Kalapi;
    color: darkblue;
}